@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;;
}
.wrapper{
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
header{
    background-image: url(../img/bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo a,i {
    color: white;
    font-size: 40px;
}
nav ul{
    display: flex;
    
}
nav ul li a{
    color: white;
    line-height: 20px;
    margin-left: 30px;
}
.content{
    color: white;
    text-align: center;
    padding-top: 180px;
}
.content h1{
    font-size: 60px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
    background-color: rgb(25, 53, 25);
}
.section-blog {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}
.blog-inner img{
    height: 500px;
    width:100%;
    margin-right: 80px;
    object-fit: cover;
}
.blog-inner{
    width: 50%;
    flex-basis: 50%;
    flex-grow: 1;
}
.blog-inner:last-child{
    padding-left:100px;
}
.blog-inner h2{
    color: black;
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.blog-inner p{
    color: black;
    font-size: 20px;
    margin-bottom: 45px;
}
.blog-inner h3{
    padding-bottom: 30px;
}
.blog-inner h3 i{
    color: aquamarine;
    margin-right: 20px;
    font-size: 30px;
}
.section-two{
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: rgb(204, 196, 196);
}
.icon-group{
    display: flex;
    flex-wrap: wrap;
}
.icon-card{
    width:calc(100% / 3);
    text-align: center;
    
}
.icon{
    background-color: white;
    border-radius: 50%;
    width:150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.icon i{
    font-size: 60px;
    color: rgb(75, 114, 75);
}
.title{
    text-align: center;
    padding-bottom: 70px;
    font-size: 40px;
}
.icon-card h3{
    font-size: 20px;
}

.icon-card p{
    padding: 30px 30px 50px;
}
.course{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.cards{
    width: calc(100% / 3);
    background-color: rgb(219, 211, 211);
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;

}
.card-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-content{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(150, 132, 132);
}
.card-blog p{
    text-align: center;
    padding: 20px 30px;
    font-size: 20px;
    border-bottom: 1px solid rgb(110, 97, 97);
    margin: 0 40px;
}
.card-blog button{
    display: block;
    width:calc(100% - 40px);
    color: white;
    padding: 10px 0px;
    margin: 30px 20px;
    background-color: rgb(39, 168, 39);
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
}

